@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-bg-gradient {
    @apply bg-gradient-to-br from-c-darker-blue via-c-darker to-c-darker-blue;
  }

  .base-container {
    @apply text-c-white flex flex-row place-content-center items-center border-b-2 border-c-dark-blue bg-black/20 rounded-xl drop-shadow-lg;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: none;
}

::-webkit-scrollbar {
  width: 2px;
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #393e46;
}
